/* ? Import Font from Font Google */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@100;400;500;700&display=swap");

:root {
  --ligth-blue: #b2d8f7;
  --dark-blue: #5475e8;
  --gradient-1: #67aeee;
  --background: #faf9fe;
  --gradient-2: var(--dark-blue);
}
* {
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.timer {
  text-align: center;
}

.timer h2 {
  font-size: 3rem;
}

.btn {
  cursor: pointer;
  background-color: var(--dark-blue);
  margin: 1rem auto;
  font-size: 2rem;
  color: white;
  border-radius: 0.5rem;
  padding: 1rem 3rem;
  border: none;
  background: linear-gradient(180deg, var(--gradient-1), var(--gradient-2));
  transition: all 0.3s ease-out;
}
.btn-rec {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background: linear-gradient(180deg, var(--gradient-1), var(--gradient-2));
  transition: all 0.3s ease-out;
}
.btn:hover,
.btn-rec:hover {
  transform: scale(90%);
}

.answer {
  width: 60%;
  position: absolute;
  bottom: 5rem;
  right: 1rem;
  left: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin: 1rem auto;
}
@media only screen and (max-width: 600px) {
  .answer {
    position: relative;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 1rem auto;
  }

  .suit {
    text-align: center;
    margin: 2rem 0;
    font-size: 0.5rem;
  }
}

.answer button {
  padding: 1rem;
  font-size: 2rem;
}

.suit {
  text-align: center;
  margin: 2rem 0;
  font-size: 4rem;
}
h1 {
  margin-top: 2rem;
  font-size: 2.5rem;
}
h1,
h3 {
  text-align: center;
}
h3,
h3 * {
  color: inherit;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Mono", monospace;
}

.alert {
  font-size: 3rem;
}
.container {
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100vh;
}

#menang,
#kalah,
#waktu-habis,
#seri {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  top: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 50;
}
#kalah {
  display: none;
  background-color: lightcoral;
}

#menang {
  display: none;
  background-color: lightgreen;
}
#waktu-habis,
#seri {
  display: none;
  background-color: lightsalmon;
}
#menang h2,
#kalah h2,
#waktu-habis h2 {
  font-size: 2.5rem;
}
#seri h2 {
  font-size: 2rem;
}
#menang * {
  margin: 1rem auto;
}
